.docsPage {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  max-width: 100%;

  --sidebar-width: 320px;
  --sidecar-margin: 24px;
  --sidecar-width: 235px;
  --docs-content-max-width: 800px;

  & .sidebar {
    width: var(--sidebar-width);

    @media (max-width: 784px) {
      display: none;
    }

    @media print {
      display: none;
    }

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    border-right: 1px solid var(--gray-2);
    background: rgba(22, 22, 26, 0.9);
    backdrop-filter: blur(6px);
    position: sticky;
    top: var(--header-height);
    max-height: calc(100vh - var(--header-height));
    min-height: calc(100vh - var(--header-height) - var(--footer-height));

    & .sidebarContentWrapper {
      padding: 24px 14px;

      &>.sidebarNavTree {
        padding: 2px;
        height: 100%;
      }
    }
  }

  & .breadcrumbsBar {
    padding: 12px 0 30px;
    border-bottom: 1px solid var(--gray-2);
  }

  & .heading {
    padding: 30px 0;
    border-bottom: 1px solid var(--gray-2);

    & .description {
      margin-top: 8px;
      color: var(--gray-5);
      max-width: 70%;

      @media(max-width: 1100px) {
        max-width: unset;
      }
    }
  }

  & .scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--gray-1);
    color: var(--gray-8);
    border-radius: 10px;
    border: 1px solid var(--gray-2);
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background .2s;
    z-index: 10;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: var(--gray-2);
    }

    @media print {
      display: none;
    }
  }

  & .contentWrapper {
    --content-wrapper-padding-top: 24px;
    margin: var(--content-wrapper-padding-top) auto 88px auto;
    display: flex;
    flex-grow: 1;
    max-width: min(calc(var(--docs-content-max-width) + var(--sidecar-width) + (2 * var(--sidecar-margin))),
        calc(100vw - var(--sidebar-width)));

    @media (max-width: 784px) {
      max-width: 100%;
      margin: 24px auto 54px auto;
    }

    @media print {
      max-width: 100%;
    }

    & .docsContentWrapper {
      display: flex;
      flex-direction: column;
      padding: 0 24px;
      flex-grow: 1;
      max-width: min(var(--docs-content-max-width),
          calc(100vw - var(--sidebar-width) - var(--sidecar-width) - (2 * var(--sidecar-margin))));

      @media(max-width: 1276px) {
        max-width: min(var(--docs-content-max-width), calc(100vw - var(--sidebar-width)));
      }

      @media (max-width: 784px) {
        max-width: 100%;
      }

      @media print {
        max-width: 100%;
      }
    }

    & .sidecar {
      position: sticky;
      top: calc(var(--header-height) + var(--sidecar-margin));
      margin-left: var(--sidecar-margin);
      margin-right: var(--sidecar-margin);
      width: var(--sidecar-width);
      --sidecar-margin-top: 84px;
      margin-top: var(--sidecar-margin-top);
      height: min(
        600px,
        100vh - var(--header-height) - var(--sidecar-margin-top) - var(--content-wrapper-padding-top) - var(--sidecar-margin)
      );
      overflow-y: auto;
      @media(max-width: 1276px) {
        display: none;
      }
      @media print {
        display: none;
      }
    }
  }

  .editOnGithub {
    display: flex;
    align-items: center;

    svg {
      margin-left: 4px;
    }

    @media print {
      display: none;
    }
  }
}
