.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--gray-7);
  & svg {
    margin-left: 4px;
    & path {
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
    }
  }
  &:hover {
    text-decoration: underline;
    color: var(--gray-9);
    & svg.externalLinkIcon {
      & path:not(:first-of-type) {
        transform: translate(2px, -2px);
      }
    }
  }
  &.weightLight {
    font-weight: 400;
    & strong {
      font-weight: 500;
    }
  }
  &.weightRegular {
    font-weight: 500;
    & strong {
      font-weight: 600;
    }
  }
  &.weightMedium {
    font-weight: 600;
    & strong {
      font-weight: 700;
    }
  }

  & .icon {
    margin-right: 6px;
    display: flex;
  }
}

.buttonLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.15s, color 0.15s, border-color 0.15s, transform 0.15s;
  &.brand {
    --button-color: var(--brand-color);
    color: var(--gray-0);
    background: var(--button-color);
    border: 1px solid var(--button-color);
  }
  &.neutral {
    --button-color: var(--gray-3);
    color: var(--gray-8);
    background: var(--gray-1);
    border: 1px solid var(--button-color);
  }
  &:hover {
    text-decoration: none;
    transform: translateY(-1px);
  }
  &.brand:hover {
    background-color: #2ac36b;
    border-color: #2ac36b;
  }
  &.neutral:hover {
    background-color: var(--gray-2);
    border-color: var(--gray-4);
  }
  &.small {
    font-size: 14px;
    padding: 4px 12px;
  }
  &.medium {
    font-size: 15px;
    padding: 6px 18px;
  }
  &.large {
    font-size: 16px;
    padding: 10px 34px;
  }
}
