.cardLinks {
  & ul {
    --gap: 20px;
    --cols: 2;
    @media(max-width: 950px) {
      --cols: 1;
    }
    @media(max-width: 784px) {
      --cols: 2;
    }
    @media(max-width: 650px) {
      --cols: 1;
    }

    margin: 16px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    & li {
      --flex-basis: calc((100% / var(--cols)) - (var(--gap) * (var(--cols) - 1)) / var(--cols));
      flex-basis: var(--flex-basis);
      max-width: var(--flex-basis);
      border: 1px solid var(--gray-2);
      border-radius: 10px;
      background: var(--gray-1);

      &:hover {
        background-color: var(--gray-2);
      }

      & .link {
        text-decoration: none;
        display: block;
        padding: 20px;

        & .title {
          margin-bottom: 10px;
        }
      }
    }
  }
}
